.border-box {
  border: 1px solid #dcdcdc;
  margin-bottom: 20px;
} 
.table-condensed .day {
  cursor: pointer;
}
.table-condensed .day:hover {
  background:#0056CC;
}
.table-condensed .prev, .table-condensed .next {
  cursor: pointer;
}
.table-condensed .disabled.day {
  cursor: not-allowed;
  opacity: 0.5;
}
.table-condensed .disabled.day:hover {
  background: white;
}
.row.filter_form_css {
  position: fixed;
  right: 5%;
}